*.iml
.gradle
**/.idea
/local.properties

.DS_Store
/build
/captures
.externalNativeBuild


app/app-release.apk
markdown-navigator-enh.xml
markdown-navigator.xml
build_file_checksums.ser
Project.xml
jarRepositories.xml
