*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/codeStyleSettings.xml
/.idea/vcs.xml
app/app-release.apk
markdown-navigator-enh.xml
markdown-navigator.xml
build_file_checksums.ser
Project.xml
jarRepositories.xml
